{% extends 'base.html.twig' %}

{% block title %}{% trans %}maths.series.title{% endtrans %}{% endblock %}

{% block body %}
  <div class="container">

    {# Breadcrumb #}
    {% include 'default/_breadcrumb.html.twig' with {
      links: {
        ('Home'|trans): path('homepage'),
        ('Maths'|trans|capitalize): '#',
      },
      active: 'maths.series.series'|trans
    } %}

    {% include 'maths/_level_form.html.twig' with { 'form': levelForm } %}

    {% if serie %}
      <div id="serie" class="row">
        <div class="col">

          <p>{% trans %}maths.series.explanation{% endtrans %}</p>

          {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
          {{ form_start(form) }}
          {{ form_widget(form) }}

          <div class="actions">
            <button type="submit" class="btn btn-primary">{{ 'resolve.check'|trans|capitalize }}</button>
          </div>

          {{ form_end(form) }}

        </div>
      </div>

      {% if pass is not same as(null) %}

        {% if pass %}
          {% include 'default/_response.html.twig' with {
            id: 'ok',
            level: 'alert-success',
            message: 'resolve.ok'|trans
          } %}

          {% if changeLevel %}
            {% include 'default/_response.html.twig' with {
              id: 'change_level',
              level: 'alert-warning',
              message: 'resolve.change_level'|trans
            } %}
          {% endif %}

        {% else %}
          {% include 'default/_response.html.twig' with {
            id: 'ko',
            level: 'alert-danger',
            message: 'resolve.ko'|trans
          } %}

        {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block page_js %}
  {% if pass is defined and pass %}
    {# If the exercice is completed, disable the form #}
    <script type="text/javascript">
        $(document).ready(function() {
            formDisable('form[name="serie"]');
        });
    </script>
  {% endif %}
{% endblock %}
