{% block operation_widget %}

  <div class="operation">

    <div class="row">
      {% set i = 0 %}
      {% for child in form.operands %}
        {% if i > 0 %}
          <div class="col-sm-1 operator"><span></span></div>
        {% endif %}
        <div class="col operand">{{ form_widget(child) }}</div>
        {% set i = i +1 %}
      {% endfor %}

      <div class="col-sm-1 operator">=</div>
      <div class="col result">{{ form_widget(form.response) }}</div>

    </div>

    {{ form_rest(form) }}
  </div>

{% endblock %}

{% block operations_widget %}
  <div class="operations">
    <div class="row">

      {% set j = 0 %}
      {% for operation in form.operations %}
        <div class="col-md-4">
          {{ form_widget(operation) }}
          {% set j = j +1 %}
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}