<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for name, path in links %}
          <li class="breadcrumb-item"><a href="{{ path }}">{{ name }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ active }}</li>
      </ol>
    </nav>
  </div>
</div>